name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: [ self-hosted, apple-m1 ]
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build --vv --build-tests
    - name: Run tests
      run: swift test --vv --skip-build